{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<div class='p-2'>
  {{> header}}
  <section class="my-4">
    <h3>Список сторінок</h3>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </section>
  <div class="row">
    <div class="col-2 my-2">
     <a class='btn btn-primary mb-2'href='/summary'>Summary</a>
     <a class='btn btn-primary mb-2' href="/skills">Skills</a>
     <a  class='btn btn-primary mb-2' href="/education">Education</a>
     <a class='btn btn-primary mb-2' href="/work">Work</a>
    
     
    </div>
    <div class="col-2 my-2">
     <a class='btn btn-primary mb-2' href="/person">Person</a>
     <a class='btn btn-primary mb-2' href="/bio">Bio</a>
     <a class='btn btn-primary mb-2' href="/car">Car</a>
     <a class='btn btn-primary mb-2' href="/js">JS</a>      
    </div>
    <div class="col-2 my-2">
       <a class='btn btn-primary mb-2' href="/facebook">Facebook</a>  
      <a class='btn btn-primary mb-2' href="/program">Program</a>
      <a class='btn btn-primary mb-2' href="/web">Web</a>
      <a class='btn btn-primary mb-2' href="/task21">Task21</a>     
    </div>
    <div class="col-2">
      <a class='btn btn-primary mb-2' href="/task22">Task22</a>
      <a class='btn btn-primary mb-2' href="/task31">Task31</a>
      <a class='btn btn-primary mb-2' href="/mac">Mac</a>
      <a class='btn btn-primary mb-2' href="/list">List</a>
    </div>
    <div class="col-2">
      <a class='btn btn-primary mb-2' href="/shophome">Shophome</a>
      <a class='btn btn-primary mb-2' href="/shopproduct">Shopproduct</a>
      <a class='btn btn-primary mb-2' href="/shopcatalog">Shopcatalog</a>
      <a class='btn btn-primary mb-2' href="/shopcart">Shopcart</a>
    </div>
    <div class="col-2">
       <a class='btn btn-primary mb-2' href="/shopnews">Shopnews</a>
      <a class='btn btn-primary mb-2' href="/shoporder">Shoporder</a>
      <a class='btn btn-primary mb-2' href="/shopprofile">Shopprofile</a>
      <a class='btn btn-primary mb-2' href="/shopreview">Shopreview</a>
    </div>
  </div>  
</div>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}