    

        <footer>
          <hr />
          <br />
          <div>
            {{#with social}}         
              {{> link text=email.text href=email.href blank=true }}
              {{> link text=phone.text href=phone.href blank=true }}
              {{> link text=linkedIn.text href=linkedIn.href blank=true noLine=true }} 
            {{/with}}
          </div>
          <br />
          {{#with header}}
          <div>           
            <em>Copyright by {{name.firstname}} {{name.lastname}}</em>
          </div>
          <br />
           <div>
            <em>{{address}}</em>
          </div>
          {{/with}}
        </footer>
   