    

        <footer>
          <hr class="my-5"/>
          
          <div>
            {{#with social}}         
              {{> link text=email.text href=email.href blank=true }}
              {{> link text=phone.text href=phone.href blank=true }}
              {{> link text=linkedIn.text href=linkedIn.href blank=true noLine=true }} 
            {{/with}}
          </div>
        
          {{#with header}}
          <div class="my-3">           
            <em>Copyright by {{name.firstname}} {{name.lastname}}</em>
          </div>
          
           <div>
            <em>{{address}}</em>
          </div>
          {{/with}}
        </footer>
   