
     <section class="row col-12 my-5">        
          {{#each footer}}
            <div class='nav col-2 mx-2 px-1'>
              <div>
                {{#each this}}
                <div>
                  <a class="nav-link {{#if @last}} disabled{{/if}}" href="{{this.link}}">{{this.text}}</a>
                </div>
                {{/each}}
              </div>
            </div>
          {{/each}}                 
      </section>
